[submodule "submodules/oh-my-zsh"]
	path = submodules/oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "submodules/eagle.zsh-theme"]
	path = submodules/eagle.zsh-theme
	url = git@github.com:neagle/eagle.zsh-theme.git
[submodule "submodules/vim"]
	path = submodules/vim
	url = git@github.com:neagle/.vim.git
[submodule "submodules/get-shit-done"]
	path = submodules/get-shit-done
	url = git://github.com/leftnode/get-shit-done.git
[submodule "submodules/scm_breeze"]
	path = submodules/scm_breeze
	url = git://github.com/ndbroadbent/scm_breeze.git
[submodule "submodules/todo.txt-cli"]
	path = submodules/todo.txt-cli
	url = https://github.com/ginatrapani/todo.txt-cli.git
